# Aula de 15/06

In [5]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

s = pd.Series([1,3,5,np.nan,6,8])
print("Os valores assumidos por s sao os seguintes:\n",s)

Os valores assumidos por s sao os seguintes:
 0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
t = pd.Series(np.random.randn(5), index=["Segunda", "Terca","Quarta","Quinta","Sexta"])
print("Os valores assumidos por t sao os seguintes:\n",t)

Os valores assumidos por t sao os seguintes:
 Segunda    3.337476
Terca     -0.452113
Quarta     0.209367
Quinta     0.847399
Sexta     -2.346110
dtype: float64

In [7]:
dates = pd.date_range("20180612", periods = 6)
dados1 = pd.Series(np.random.randn(6), index = dates)
print(dados1)

2018-06-12    0.739512
2018-06-13    0.494135
2018-06-14    0.691143
2018-06-15    0.361168
2018-06-16   -3.672074
2018-06-17   -0.091108
Freq: D, dtype: float64

## **Leitura ou coleta de dados**

In [ ]:
dados3 = pd.read_csv("STI-20180615200423099.csv", sep = ";", decimal = ",", thousands = ".", parse_dates = True, infer_datetime_format = True, dayfirst = True)
grafpib = plt.plot(dados3.Data, dados3.PIB)
plt.show(graf.pib)

In [9]:
divmob = pd.read_csv("http://api.bcb.gov.br/dados/serie/bcdata.sgs.4151/dados?formato=csv", sep = ";", decimal = ",", thousands = ".", parse_dates = True, infer_datetime_format = True, dayfirst = True)
divmob

           data         valor
0    01/01/1991  2.261821e+07
1    01/02/1991  2.414748e+07
2    01/03/1991  2.683879e+07
3    01/04/1991  2.879735e+07
4    01/05/1991  3.156397e+07
5    01/06/1991  3.451732e+07
6    01/07/1991  3.631689e+07
7    01/08/1991  4.089243e+07
8    01/09/1991  4.652341e+07
9    01/10/1991  5.486986e+07
10   01/11/1991  7.153583e+07
11   01/12/1991  9.305481e+07
12   01/01/1992  1.193752e+08
13   01/02/1992  1.549849e+08
14   01/03/1992  1.957233e+08
15   01/04/1992  2.570387e+08
16   01/05/1992  3.188072e+08
17   01/06/1992  3.872216e+08
18   01/07/1992  4.952852e+08
19   01/08/1992  6.220940e+08
20   01/09/1992  7.751454e+08
21   01/10/1992  1.005998e+09
22   01/11/1992  1.213223e+09
23   01/12/1992  1.477431e+09
24   01/01/1993  1.829572e+09
25   01/02/1993  2.390734e+09
26   01/03/1993  3.018938e+09
27   01/04/1993  3.889241e+09
28   01/05/1993  4.993264e+09
29   01/06/1993  6.516860e+09
..          ...           ...
298  01/11/2015  3.794401e+06
299  01/12/2015  3.936681e+06
300  01/01/2016  3.873237e+06
301  01/02/2016  3.952683e+06
302  01/03/2016  4.042856e+06
303  01/04/2016  3.967754e+06
304  01/05/2016  4.048690e+06
305  01/06/2016  4.157400e+06
306  01/07/2016  4.151058e+06
307  01/08/2016  4.129135e+06
308  01/09/2016  4.258863e+06
309  01/10/2016  4.255200e+06
310  01/11/2016  4.312218e+06
311  01/12/2016  4.509262e+06
312  01/01/2017  4.510876e+06
313  01/02/2017  4.616502e+06
314  01/03/2017  4.726683e+06
315  01/04/2017  4.749125e+06
316  01/05/2017  4.728247e+06
317  01/06/2017  4.843605e+06
318  01/07/2017  4.795746e+06
319  01/08/2017  4.923777e+06
320  01/09/2017  4.968179e+06
321  01/10/2017  4.957310e+06
322  01/11/2017  5.024270e+06
323  01/12/2017  5.102217e+06
324  01/01/2018  5.083730e+06
325  01/02/2018  5.130850e+06
326  01/03/2018  5.230542e+06
327  01/04/2018  5.264757e+06

[328 rows x 2 columns]